@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");

:root {
	--main-font-family: "Hahmlet", serif;
	--main-navbar-background: rgba(19, 19, 20, 0.993);
	--white-color: #ffffff;
	--main-nav-item-background: #ffffff;
	--main-nav-item-font: #000000;
	--main-icon-size: 1.4rem;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--main-font-family);
}

/* utility Classes  */
.border {
	border: 1px solid black;
	padding: 1rem;
	border-radius: 100px;
}
.font-12 {
	font-size: 1.2rem;
}
.font-14 {
	font-size: 1.4rem;
}
.font-11 {
	font-size: 1.1rem;
}
.text-center {
	text-align: center;
}

/* nav bar  */
.home-header {
	background-color: var(--main-navbar-background);
	color: var(--white-color);
	height: auto;
}
.home-header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.home-header ul li {
	margin: 0.1rem;
	padding: 1rem;
	display: inline-block;
	cursor: pointer;
}
.home-header ul > *:hover {
	background-color: var(--main-nav-item-background);
	color: var(--main-nav-item-font);
}
/* Ammount status part  */
.main-container {
	margin: 3px 2px;
}
.main-container > div {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 0.5%;
}

.received-ammount {
	background-color: #d0ffc6;
}
.send-ammount {
	background-color: #fcbfbf;
}
.add-new-event-btn {
	position: fixed;
	bottom: 3%;
	right: 2%;
	padding: 10px;
	border-radius: 17px;
	cursor: pointer;
	width: 60px;
}
/* Search  */
.search-input {
	margin-top: 5px;
	padding: 10px;
	border-radius: 100px;
	width: 100%;
}

/* Events  */
.events-container-class {
	margin-top: 30px;
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr)) !important;
	gap: 10px;
	justify-content: center;
}
.event {
	width: 100%;
	cursor: pointer;
	margin: 5px 2px;
	display: flex;
	justify-content: space-evenly;
}
.event-img-container {
	display: flex;
	align-items: center;
}
.event img {
	padding: 0;
	border: 1px solid #000000;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-right: 5px;
}
.event:hover {
	background-color: #f2f2f2;
}
/* Form */
.form-group {
	margin-bottom: 0.5rem;
}

.form-group label {
	font-size: 1rem;
	font-weight: bold;
	color: #000000;
}

.form-group input {
	width: 100%;
	height: 2rem;
	border: 1px solid #000000;
	border-radius: 0.25rem;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	color: #000000;
}

.form-group input:focus {
	outline: none;
}

.form-group input:focus + label {
	color: #000000;
}

.form-group input:focus + label + .fa-check {
	display: block;
}

.form-group input:focus + label + .fa-times {
	display: none;
}

input[type="radio"] {
	display: inline-block;
	width: 10% !important;
	border-radius: 50%;
	background: #ffffff;
	border: 1px solid #000;
	cursor: pointer;
}

input[type="submit"] {
	min-width: 20%;
	height: 2rem;
	border: 1px solid #000000;
	border-radius: 0.25rem;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
}
