:root {
	--body-bg-color: #ececec;
}

body {
	background-color: var(--body-bg-color);
}

.text-center {
	text-align: center;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.input-border-error {
	border: 2px solid red !important;
}
.error-text {
	color: red;
	font-size: 15px;
	text-align: center;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.form-container {
	width: 50%;
	margin: 12% auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f2f2f2;
}
.form-container input {
	width: 97%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form-container input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #4caf50;
	color: white;
}

.form-container input[type="submit"]:hover {
	background-color: #45a049;
}

.show-email-container {
	display: block;
}

.hide-email-container {
	display: none;
}

.show-otp-confirmation-container {
	display: block;
}

.hide-otp-confirmation-container {
	display: none;
}

.edit-email-text {
	color: #00bcd4;
	text-decoration: underline;
}
.edit-email-text::hover {
	cursor: pointer;
}
